<div class="type-canvas">
  <type-unit class='vertically-centered text-1' @text="I get up in the evening" @start=13800 @end=19947 @timeElapsed={{state.timeElapsed}} />
  <type-unit class='vertically-centered text-2' @text="And I ain't got nothing to say" @start=17863 @end=22140 @timeElapsed={{state.timeElapsed}} />
  <type-unit class='vertically-centered text-3' @text="I come home in the morning" @start=20391 @end=22140 @timeElapsed={{state.timeElapsed}} />
</div>

<audio src="DancingInTheDark.mp3" controls onplaying={{action toggleState}} onpause={{action toggleState}} />
